body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

li {
  list-style: none;
}

.container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.dict-word {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.word {
  margin: 0 auto;
  font-size: 8em;
}
.dest-word {
  font-size: 3em;
  margin-bottom: 2em;
}

.dict-dest {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.kvblock-key {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
}
.kvblock-value {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin-left: 1em;
}

.part-of-speech .kvblock-key {
  font-size: 2.5em;
  font-style: italic;
}

.part-of-speech .kvblock-value {
  font-size: 2.5em;
}

.part-of-speech h3 {
  margin: 0;
}

.ex-text .kvblock-key {
  font-size: 2.5em;
  font-style: italic;
}

.ex-text .kvblock-value {
  font-size: 2.5em;
}